<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org" >
<head>
<meta charset="ISO-8859-1" content="text/html; charset=UTF-8" >
<title>Programacion Orientada a Objetos</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.1/css/bootstrap.min.css" integrity="sha384-VCmXjywReHh4PwowAiWNagnWcLhlEJLA5buUprzK8rxFgeH0kww/aWY76TfkUoSX" crossorigin="anonymous">

</head>
<body>
<header>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
 <img th:src="@{/images/logotm.png}" width="136" height="136" >
 <h2> Bienvenido Administrador este es el listado de los clientes registrados</h2>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
      <a class="nav-link"  href="/principal/GeneralB"> Pagina principal Administrador</a>
      </li>
      
    </ul>
  </div>
</nav>
</header>
 <table  class="table table-hover" >
	<thead class="thead-dark">
		<tr>
			<th>id Cliente</th>
			<th>Nombre</th>
			<th>Correo</th>
			<th>Telefono</th>
			<th>LimiteCredito</th>
			
		</tr>
	</thead>
	<tr th:each="tmpCliente:${cliente}">
	<td th:text="${tmpCliente.idCliente}"></td>
	<td th:text="${tmpCliente.nombre}"></td>
	<td th:text="${tmpCliente.correo}"></td>
	<td th:text="${tmpCliente.telefono}"></td>
    <td th:text="${tmpCliente.limiteCredito}"></td>
	
	</tr>
	</table>
 

<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.1/js/bootstrap.min.js" integrity="sha384-XEerZL0cuoUbHE4nZReLT7nx9gQrQreJekYhJD9WNWhH8nEW+0c5qq7aIo2Wl30J" crossorigin="anonymous"></script>
</body>

</html>